<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>WEATHER</title>
</head>

<body>
    {{>nav}}
    <div class="container">
    <div class="row" id="big_box">
        <div class="col-4" id="pic_box">


            <figure>
               <img src="./pics/man.png" alt="" srcset="">
            </figure>
       
           </div>
    <div  class="col-8" id="box"> 

        <div class="card-body">
            <h2>I am a student pursuing Btech</h2>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta nisi
                 </p>
            <a href="/weather" target="_blank">
                <button type="button" class="btn btn-success">About Me</button>
            </a>
        </div>
    </div>
    
</div>
</div>


{{>foot}}


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>